* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
scrollbar-width: none;
transition: 0.3s ease all;
}

html,
body {
  height: 100%;
  width: 100%;

}

main {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.63);
}

.page1 {
  height: 100vh;
  width: 100vw;
  background-image: url(rachel-coyne-U7HLzMO4SIY-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2vw 3vw;
  align-items: center;
  text-transform: uppercase;

}

.n-left {
  width: 30vw;
  display: flex;
gap: 0.5vw;
align-items: center;
}
.n-left i{
  font-size: 65px;
  color: white;
  font-weight: 300;
}
.n-left h1  {
  font-size: 45px;
  color: white;
  font-weight: 300;
}

.n-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65vw;
}

.n-right a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 30px;
}
.n-right a:hover{
  border: 2px solid white;
  padding: 5px 30px ;
  border-radius: 20px;
}
.login-reg {
  display: flex;
  gap: 1vw;
}

.login-reg button,
.n-right button {
  padding: 15px 35px;
  font-size: 25px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgba(92, 92, 92, 0.89);
  border: none;
  border-radius: 15px;
}
.login-reg button:hover,
.n-right button:hover{
  padding: 15px 40px;
  background-color: transparent;
  border: 2px solid white;
}
.container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  align-items: center;
  text-transform: uppercase;
  padding: 4vw;
  color: white;
  font-weight: 400;
}

.container h1 {

  padding-top: 2vw;
  font-size: 90px;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);

}

button {
  cursor: pointer;
}

.container p {
  font-size: 30px;
  text-align: center;
  padding: 2vw 2vw;
  line-height: 1.5;
}

.tickets-btn {
  display: flex;

  gap: 1vw;
}
.tickets-btn button:hover{
  border: 2px solid white;
  padding: 10px 45px ;
  background-color: transparent;
  border-radius: 20px;
}
.tickets-btn button {
  padding: 15px 35px;
  border: none;
  font-size: 30px;
  text-transform: uppercase;
  background-color: rgba(92, 92, 92, 0.89);
  color: white;
  border-radius: 15px;
}

.search-event {
  margin-top: 4vw;
}

.search-event h1 {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
}

form {
  display: flex;
  gap: 1vw;
  border-radius: 15px;
  margin-top: 2vw;

}

form input {
  width: 13vw;
  padding: 1vw 2vw;
  font-size: 30px;
  color: rgb(255, 255, 255);
  background-color: rgba(92, 92, 92, 0.89);
  border-radius: 15px;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 400;
  outline: 1px solid white;
  border: none;

  text-transform: uppercase;
}

form input:hover{
  padding: 1vw 2vw;
  width: 15vw;
  background-color: transparent;
  border: 2px solid white;
}
form input::placeholder {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
}
form button:hover {
  background-color: transparent;
  width: 8vw;
  border: 2px solid white;
}
#city {
  width: 16vw;
}

form button {
  height: 2vw;
  width: 6vw;
  border: none;
  letter-spacing: 2px;
  margin-top: 1vw;
  font-size: 25px;
  text-transform: uppercase;
  background-color: rgba(92, 92, 92, 0.89);
  color: white;
  border-radius: 15px;
  margin-left: 2vw;

}



.custom-date::before {
  content: "Choose date";
  color: #888;
  position: absolute;
  pointer-events: none;
  padding: 8px;
  font-size: 16px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.custom-date:focus::before {
  display: none;
}

.custom-date:valid::before {
  display: none;
}

.page2 {
  height: 100vh;
  width: 100vw;
  
  background-color: #000000;
  display: flex;
  flex-direction: column;
padding: 2vw 3vw;
  align-items: center;
  justify-content: space-between;
}

.event-container {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  height: 85vh;
padding: 1vw;
gap: 2vw;

  width:100vw;
  background-color: black;
}


.page2 h1 {
color: #ffffff;
  text-align: center;
  font-size: 80px;
  text-shadow: 3px 3px 5px #888;
  letter-spacing: 2px;
  text-transform: uppercase;

  font-weight: 500;
}
.page2 hr{
  width: 50%;
  height: 1px;
  background-color: #4e4e4e;
}
.page2 button{
  padding: 15px 50px ;
  font-size: 35px;
  border: none;
  border-radius: 15px;
background-color: #2e2e2e;
color: rgb(255, 255, 255);
transition: 0.3s ease all;
}

.page2 .view:hover{
  padding: 15px 90px;
  color: white;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
}
.event-container .events {
  height: 73vh;
  width: 25vw;
  background-color: #88888827;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #ffffff;
  align-items: center;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 3px 3px 20px rgb(66, 66, 66);
  transition: 0.6s ease all;
  
}

.events:hover{
  background-color: #1b1b1b2f;
}
.events img {
border-radius: 20px;
  height: 55vh;
object-fit: cover;

}
.events h2{
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 2px;
  
}
.events p{
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 2px;
}
.events button{
  padding: 15px 30px;
  font-size: 30px;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.3s ease all;
  background-color: #414141;
}
.events button:hover{
padding: 15px 50px;
background-color: transparent;
border: 2px solid rgb(255, 255, 255);
}
.page3{
  width: 100vw;
  padding: 1vw 2vw;
  height: 95vh;
  background-color: #000000;
}
.page3 h1{
  font-size: 65px;
 
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center; margin-bottom: 1vw;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 5px #888;
}

.service-container{
  height: 80vh;
  width: 100%;
 overflow-x: scroll;
  padding: 1vw;
  display: flex;
  gap: 2vw;

}

.services{
  height: 75vh;
  border-radius: 20px;
  width: 25vw;
 text-transform: uppercase;
 letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  color: white;
 align-items: center;
  background-color: #88888827;
  box-shadow: 3px 3px 20px rgb(66, 66, 66);
  transition: 0.6s ease all;
}
.services h2{
  font-size: 50px;
  font-weight: 300;
  text-align: center;

}
.services p{
  font-size: 23px;
  text-align: center;
  padding: 0 1vw;
  letter-spacing: 2px;
  line-height: 1.8;
  font-weight: 300;
}
.services img {
  width: 25vw;
  height: 50vh;
  border-radius:20px;
  object-fit: cover;
}
.services button{
  padding: 15px 25px;
  font-size: 27px;
  font-weight: 300;
  background-color: #2e2e2e;
  color: white;
  width: 10vw;
  border: none;
  border-radius: 10px;
transition: 0.3s ease all;
}
.services button:hover{
 width: 12vw;
  background-color: transparent;
  border: 1px solid white;
}
.services:hover{
  background-color: #1b1b1b2f;
}
.page4{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.page4 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.548);
  display: flex;
  flex-direction: column;
align-items: center;
gap: 2vw;
  color: white; 
  padding: 2vw 3vw;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.overlay2 h1,h4{
  font-size: 70px;
  font-weight: 300;

}
.overlay2 h2,h4{
  font-size:50px;
font-weight: 300;
}
.o-btn{
  display: flex;
  gap: 2vw;
}
.o-btn button{
  padding: 15px 40px ;
  font-size: 35px;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: #4e4e4e;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  transition: 0.3s ease all;
}
.o-btn button:hover{
  padding: 15px 60px ;
  background-color: transparent;
  border: 2px solid white;
}
.overlay2 h3{
  font-size: 100px;
  font-weight: 300;
}
.overlay2 p{
  font-size: 32px;
letter-spacing: 2px;

  font-weight: 300;
}
.footer-container{
  height: 65vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #000000;
  padding: 0vw 2vw;
}
footer{
  height: 55vh;
  width: 100vw;
  padding: 2vw 3vw;

  display: flex;
  gap: 1vw;
  justify-content: space-between;
  align-items: center;
  color: white;
}.f-content{
  height: 50vh;
  text-transform: uppercase;
  width: 23vw;
  font-weight: 300;
  display: flex;
 
  flex-direction: column;
  gap: 2vw;
  
}
#f1 h2,#f2 h2 ,#f3 h2 ,#f4 h3{
  font-size: 50px;

  letter-spacing: 2px;

}
#f1 p{
  font-size: 25px;
letter-spacing: 2px;
line-height: 1.3;

}
.contect {
  display: flex;
  gap: 2vw;
  transition: 0.3s ease all;
}
.contect h3,i{
  font-size:30px;
  font-weight: 300;
  letter-spacing: 2px;
  cursor: pointer;

}
.contect h3:hover{
  text-decoration: underline 2px solid white;
}
#f2 ul ,#f3 ul ,#f4{
  display: flex;
  gap: 2vw;
  font-weight: 300;
  flex-direction: column;
align-items: center;
padding-top:2vw;
}
#f2 ul li  ,#f3 ul li{
  font-size: 25px;
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
}

#f2 ul li:hover  ,#f3 ul li:hover{
  text-decoration: underline;
}
#f4 input{
  padding: 30px 40px;
  width: 20vw;
  background-color: #414141;
  border: 1px solid white;
  outline: none;
  font-size: 25px;
  letter-spacing: 2px;
  color: white;
  border-radius: 10px;
}
#f4 input::placeholder {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  color: white;

}
#f4 button{
  padding: 15px 25px;
  font-weight: 300;
  font-size: 25px;
  text-transform: uppercase;

  border-radius: 10px;
  letter-spacing: 2px;
  background-color: transparent;
  color: white;
  border: 1px solid white ;
  transition: 0.3s ease all;
}
#f4 button:hover{
  padding: 15px 45px;
}
.footer-container hr{
  height: 2px;
  width: 95vw;
  background-color: white;
}
.f-b{
  display: flex;
  justify-content: space-between;
  padding: 1vw 3vw;
}
.icons{
  display: flex;
  gap: 1vw;

}
.icons i{
  font-size: 45px;
  font-weight: 300;

  color: white;
  
}
.footer-container h2{
  font-size: 33px;
  font-family: 300;
  color: white;
  text-transform: uppercase;

  
}